@use "../../styles.scss";

a {
   text-decoration: none;

   &:active {
      color: styles.$color-1;
   }

   &:visited {
      color: styles.$color-1;
   }

   &:hover {
      color: styles.$color-1;
   }
}

@media screen and (min-width: 2301px) {

   .login-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .login {

         border: 0.25rem solid styles.$secondary-color-2;
         width: calc(20% + 50px);
         height: 40%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         & {
            background-color: white;
            border-radius: 10px;
            font-weight: 600;
         }

         .login-title {
            font-size: calc(1.7rem + 10px);
            color: styles.$secondary-color-2;

            & {
               margin-bottom: calc(1rem + 30px);
            }
         }

         form {
            width: 75%;

            input {
               padding: 0.4rem;

               & {
                  border-color: styles.$secondary-color-2;
                  border-radius: 5px;
                  margin-top: 1rem;
                  border: 0.02rem solid styles.$secondary-color-2;
               }
            }

            .email-section {
               font-size: 1rem;
               display: flex;
               flex-direction: column;

               & {
                  margin-bottom: 1rem;
               }

            }

            .pass-section {
               font-size: 1rem;
               display: flex;
               flex-direction: column;

               & {
                  margin-bottom: 1rem;
               }
            }

            .account-type {
               & {
                  margin-bottom: 1rem;
               }

               #accountTypes {
                  width: 25%;
                  padding: 0.25rem;

               }
            }

            .submit-btn {
               cursor: pointer;
               padding: 1rem;
               background-color: styles.$secondary-color-2;
               width: 24%;
               text-align: center;
               color: styles.$primay-color-1;
               border-radius: 5px;
            }

            .signup-btn {

               & {
                  font-size: 15px;
                  margin-top: 1.5rem;
               }


            }
         }
      }
   }
}

@media screen and (min-width: 1000px) and (max-width: 2300px) {

   .login-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      & {
         background-color: styles.$primay-color-1;
      }

      .login {
         width: 50%;
         height: 40%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         & {
            background-color: white;
            border-radius: 10px;
            font-weight: 600;
         }

         .login-title {
            font-size: calc(1.7rem + 10px);
            color: styles.$secondary-color-2;

            & {
               margin-bottom: calc(1rem + 30px);
            }
         }

         form {
            width: 75%;

            input {
               padding: 0.4rem;

               & {
                  border-color: styles.$secondary-color-2;
                  border-radius: 5px;
                  margin-top: 1rem;
                  border: 0.02rem solid styles.$secondary-color-2;
               }
            }

            .email-section {
               font-size: 1rem;
               display: flex;
               flex-direction: column;

               & {
                  margin-bottom: 1rem;
               }

            }

            .pass-section {
               font-size: 1rem;
               display: flex;
               flex-direction: column;

               & {
                  margin-bottom: 1rem;
               }
            }

            .account-type {
               & {
                  margin-bottom: 1rem;
               }

               #accountTypes {
                  width: 20%;
                  padding: 0.25rem;

               }
            }

            .submit-btn {
               cursor: pointer;
               padding: 1rem;
               background-color: styles.$secondary-color-2;
               width: 24%;
               text-align: center;
               color: styles.$primay-color-1;
               border-radius: 5px;
            }

            .signup-btn {

               & {
                  font-size: 15px;
                  margin-top: 1.5rem;
               }


            }

            .message {
               & {
                  margin-top: 1rem;
                  color: styles.$color-1;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 999px) {
   .login-container {
      width: 100vw;


      & {

         background-color: styles.$primay-color-1;
         overflow: hidden;
         margin-top: calc(2rem + 10px);
      }

      .login {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;

         & {
            background-color: styles.$primay-color-1;
            border-radius: 10px;
         }

         .login-title {
            font-size: calc(1.7rem + 10px);
            font-weight: 600;
            color: styles.$secondary-color-2;

            & {
               margin-bottom: calc(1rem + 30px);
            }
         }

         form {
            width: 90%;

            input {
               padding: 0.4rem;

               & {
                  border-color: styles.$secondary-color-2;
                  border-radius: 5px;
                  margin-top: 1rem;
                  border: 0.02rem solid styles.$secondary-color-2;
               }
            }

            .email-section {
               font-size: 1rem;
               display: flex;
               flex-direction: column;

               & {
                  margin-bottom: 1rem;
               }

            }

            .pass-section {
               font-size: 1rem;
               display: flex;
               flex-direction: column;

               & {
                  margin-bottom: 1rem;
               }
            }

            .account-type {
               & {
                  margin-bottom: 1rem;
               }

               #accountTypes {
                  width: 20%;
                  padding: 0.25rem;

               }
            }

            .submit-btn {

               padding: 1rem;
               background-color: styles.$secondary-color-2;
               width: 24%;
               text-align: center;
               color: styles.$primay-color-1;
               border-radius: 5px;
            }

            .signup-btn {

               & {
                  font-size: 15px;
                  margin-top: 1.5rem;
               }


            }
         }
      }
   }
}