@use "../../../styles.scss";


@media screen and (min-width: 1000px) {
   .store-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;


      .title {
         font-size: 2.34rem;
         font-weight: 600;

         & {
            padding: 1.5rem;
            color: styles.$secondary-color-2;
         }
      }

      .section {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 1rem;

         >* {
            border-radius: 50%;
            border: 0.05rem solid styles.$secondary-color-2;
            width: 35px;
            height: 35px;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            font-size: 1.2rem;
            padding: 0.5rem;
            color: styles.$secondary-color-2;
         }
      }
   }

}


@media screen and (max-width: 999px) {

   .store-header{
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
         font-size: 1.34rem;
         font-weight: 600;

         & {
            padding: 0.8rem;
            color: styles.$secondary-color-2;
         }
      }
      .section {
         display: flex;
         justify-content: center;
         align-items: center;

         >* {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5rem;
            font-size: 1rem;
            padding: 0.75rem;
            color: styles.$secondary-color-2;
         }
      }
   }
}