<footer>
   <div class="brand-name">
      <span>ShopNow</span>
   </div>
   <div class="find-us">
      <p>Find Us</p>
      <div class="address">
         <span>J-140, Sector 63, Noida, Uttar Pradesh, 561227</span>
         <span>Tel: 0120-4445678, 679</span>
      </div>
      <p>Social Media</p>
      <div class="social">
         <ul>
            <li><fa-icon [icon]="['fab', 'instagram']" /></li>
            <li><fa-icon [icon]="['fab', 'facebook-f']" /></li>
            <li><fa-icon [icon]="['fab', 'twitter']" /></li>
            <li><fa-icon [icon]="['fab', 'pinterest-p']" /></li>
         </ul>
      </div>
   </div>
   <div class="misc">
      
      <div class="other">
         <ul>
            <li>Be An Investor</li>
            <li>Careers</li>
            <li>Other Services</li>
         </ul>
      </div>
      <div class="empt"></div>
   </div>
</footer>