<div class="order-item">
    <div class="order-ref-stat">
        <div class="ref">
            Order: #{{ref_id}}
        </div>
        <div class="stat">
            {{order_status}}
        </div>
    </div>
    <div class="order-array">
        <div class="order-data" *ngFor="let order_item of order_array">
            <div class="prod">
                <div class="prod-img">
                    <img src="https://placehold.co/64x64" alt="prod-img">
                </div>
                <div class="order-content">
                    <div class="order_item_title">
                        <span>{{order_item.product_name}}</span>
                    </div>
                    <div class="count">
                        <span>Count: {{order_item.product_count}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>