@use "../../../../styles.scss";

.product-list-item {
   height: 128px;
   padding: 1rem;
   display: flex;
   flex-direction: row;
   

   .prod-det {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      .prod-title {
         font-weight: 700;
         margin-top: 0.5rem;
         margin-left: 0.5rem;
      }

      .prod-desc {
         margin-top: 0.1rem;
         margin-left: 0.5rem;
      }

      .prod-price {
         font-weight: 500;
         margin-top: 0.5rem;
         margin-left: 0.5rem;
      }
   }
}