<div class="our-product">
   <div id="div-title">
      <span>Our Products</span>
   </div>
   <div id="categories">
      <div class="chairs" (click)="emptyClick()">
         <fa-icon [icon]="['fas', 'chair']"></fa-icon>
         <div class="sub">
            <span>Chairs</span>
         </div>
      </div>
      <div class="tables" (click)="emptyClick()">
         <fa-icon [icon]="['fas', 'table']"></fa-icon>
         <div class="sub">
            <span>Tables</span>
         </div>
      </div>
      <div class="comp-tables" (click)="emptyClick()">
         <fa-icon [icon]="['fas', 'computer']"></fa-icon>
         <div class="sub">
            <span>Computers</span>
         </div>
      </div>
      <div class="shelves" (click)="emptyClick()">
         <fa-icon [icon]="['fas', 'bars-progress']"></fa-icon>
         <div class="sub">
            <span>Shelves</span>
         </div>
      </div>
      <div class="misc" (click)="emptyClick()">
         <fa-icon [icon]="['fas', 'paperclip']"></fa-icon>
         <div class="sub">
            <span>Misc</span>
         </div>
      </div>
   </div>
</div>